.tooltip_container {
  display: flex;
  box-shadow: 2px 2px 6px 1px rgba(37, 37, 37, 0.541);
  justify-content: space-between;
  width: 25%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  background-color: white;
}

.tooltip_container div {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  padding: 8px;
}

.tooltip_container div:hover {
  background-color: rgb(218, 213, 213);
  cursor: pointer;
}

.tooltip_btn {
  position: relative;
  display: inline-block;
}

.tooltip_btn .short_cut_key {
  visibility: hidden;
  width: 55px;
  background-color: rgb(36, 35, 35);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-style: normal;
  font-weight: normal;

  /* Position the tooltip */
  position: absolute;
  top: -35px;
  z-index: 1;
}

.tooltip_btn:hover .short_cut_key {
  visibility: visible;
}
